<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../stylesheets/main.css" rel="stylesheet">

    <title>SP Internship System</title>
</head>

<body>
    <div class="container-fluid p-0 no-overflow bg-white">
        <div class="login-page-form">
            <h2 class="text-center m-0">Welcome back!</h2>
            <h2 class="text-center mb-5">Please Login to your account.</h2>
            <form onsubmit="return false;" id="loginForm">
                <div class="form-group">
                    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Ichat Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="passwordInput" placeholder="Password">
                </div>
                <div class="row pl-3">
                    <button type="submit" class="btn dark-blue-btn mr-2" onclick="login()">Login</button>
                    <button href="#createStudentModal" data-toggle="modal" class="btn btn-primary dark-blue-btn mr-2">Sign
                        Up</button>
                </div>
                <br>
                <select id="RoleSelect" class="custom-select">
                    <option value="Student">Student</option>
                    <option value="LO">LO</option>
                    <option value="SLO">SLO</option>
                </select>
                <div class="row mt-3 ml-1">
                    <!-- <a href="#" class="text-primary">Forgot your password?</a> -->
                </div>
            </form>
        </div>
        <img src="/resources/img/login-full.png" alt="" class="login-page-bg">
    </div>

    <div class="modal fade" id="createStudentModal" tabindex="-1" role="dialog" aria-labelledby="createStudentModal"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Create Account</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container-fluid">
                        <div class="row">
                            <form onsubmit="return false;" id="registerForms">
                                <div class="form-group mr-4">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" id="emailReg" class="form-control input-lg" placeholder="Enter email"
                                        required>
                                    <!-- <input type="email" class="form-control input -lg" id="inputEmail" aria-describedby="emailHelp" required placeholder="Enter email"> -->
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email
                                        with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input id="passwordReg" type="password" value="" class="form-control input-lg"
                                        placeholder="Enter Password" required>
                                    <!-- <input type="password" class="form-control input -lg " id="inputPassword" placeholder="Password"> -->
                                </div>
                                <!-- <button type="submit" class="btn btn-primary">Create</button> -->
                                <input type="submit" class="btn btn-primary" onclick="register()" value="Register"
                                    data-toggle="modal" data-dismiss="modal">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>


        function login() {
            var role = document.getElementById("RoleSelect").value;
            var email = document.getElementById("emailInput").value;
            var password = document.getElementById("passwordInput").value;
            if (document.getElementById("loginForm").checkValidity()) {
                var data = {
                    email: email,
                    password: password
                };
                if (role == 'LO') {
                    fetch(new Request('/api/loginLo',
                        {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        })).then(function (response) {
                            return response.json();
                        }).then(function (data) {
                            if (!data.success) {
                                alert('Login failed. Email or password is incorrect.');
                            }
                            else {
                                fetch(new Request('/api/LoAuthState/' + email,
                                    {
                                        method: 'GET',
                                        headers: {
                                            Authorization: 'Bearer ' + data.token
                                        }
                                    })).then(function (response) {
                                        return response.json();
                                    }).then(function (state) {
                                        if (state.authState == 1) {
                                            sessionStorage.setItem("token", data.token);
                                            fetch(new Request('/api/getLo/' + email,
                                                {
                                                    method: 'GET',
                                                    headers: {
                                                        Authorization: 'Bearer ' + data.token
                                                    }
                                                })).then(function (response) {
                                                    return response.json();
                                                }).then(function (lo) {
                                                    sessionStorage.setItem('lo', JSON.stringify(lo));

                                                    window.location.href = "/lo/?" + email;
                                                }).catch(function (error) {
                                                    console.log(error);
                                                });
                                        }
                                        else {
                                            alert('Email ' + email + ' has not been verified. Please go to your email to activate your account before logging in.');
                                        }
                                    }).catch(function (error) {
                                        console.log(error);
                                    });
                            }
                        }).catch(function (error) {
                            console.log(error);
                        });
                }
                else if (role == 'SLO') {
                    fetch(new Request('/api/loginSlo',
                        {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        })).then(function (response) {
                            return response.json();
                        }).then(function (data) {
                            if (!data.success) {
                                alert('Login fail. Email or password is incorrect.');
                            }
                            else {
                                fetch(new Request('/api/SloAuthState/' + email,
                                    {
                                        method: 'GET',
                                        headers: {
                                            Authorization: 'Bearer ' + data.token
                                        }
                                    })).then(function (response) {
                                        return response.json();
                                    }).then(function (state) {
                                        if (state.authState == 1) {
                                            sessionStorage.setItem("token", data.token);
                                            fetch(new Request('/api/getSlo/' + email,
                                                {
                                                    method: 'GET',
                                                    headers: {
                                                        Authorization: 'Bearer ' + data.token
                                                    }
                                                })).then(function (response) {
                                                    return response.json();
                                                }).then(function (slo) {
                                                    sessionStorage.setItem('slo', JSON.stringify(slo));

                                                    window.location.href = "/slo/";
                                                }).catch(function (error) {
                                                    console.log(error);
                                                });
                                        }
                                        else {
                                            alert('Email ' + email + ' has not been verified. Please go to your email to activate your account before logging in.');
                                        }
                                    }).catch(function (error) {
                                        console.log(error);
                                    });
                            }
                        }).catch(function (error) {
                            console.log(error);
                        });
                }
                else {
                    fetch(new Request('/api/loginStudent',
                        {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        })).then(function (response) {
                            return response.json();
                        }).then(function (data) {
                            if (!data.success) {
                                alert('Login fail. Email or password is incorrect.');
                            }
                            else {
                                fetch(new Request('/api/StudentAuthState/' + email,
                                    {
                                        method: 'GET',
                                        headers: {
                                            Authorization: 'Bearer ' + data.token
                                        }
                                    })).then(function (response) {
                                        return response.json();
                                    }).then(function (state) {
                                        if (state.authState == 1) {
                                            sessionStorage.setItem("token", data.token);
                                            fetch(new Request('/api/getStudent/' + email,
                                                {
                                                    method: 'GET',
                                                    headers: {
                                                        Authorization: 'Bearer ' + data.token
                                                    }
                                                })).then(function (response) {
                                                    return response.json();
                                                }).then(function (student) {
                                                    sessionStorage.setItem('student', JSON.stringify(student));

                                                    window.location.href = "/student/?" + email;
                                                }).catch(function (error) {
                                                    console.log(error);
                                                });
                                        }
                                        else {
                                            alert('Email ' + email + ' has not been verified. Please go to your email to activate your account before logging in.');
                                        }
                                    }).catch(function (error) {
                                        console.log(error);
                                    });
                            }
                        }).catch(function (error) {
                            console.log(error);
                        });
                }

            }
        }

        function register() {
            var role = "Student";
            var email = document.getElementById("emailReg").value;
            var password = document.getElementById("passwordReg").value;
            //var repassword = document.getElementById("repasswordReg").value;

            //var ok = true;

            if (document.getElementById("registerForms").checkValidity()) {

                // if (password != repassword) {
                //     document.getElementById("passwordReg").style.borderColor = "#E34234";
                //     document.getElementById("repasswordReg").style.borderColor = "#E34234";
                //     alert("Passwords do not match. Please key again.");
                //     ok = false;
                // }
                // else if (password == repassword) {
                //     if (password.length < 8) {
                //         alert("Passwords too short. At least 8 characters.");
                //         ok = false;
                //     }
                // }

                if (password.length < 8) {
                    alert("Passwords too short. At least 8 characters.");
                }
                else {
                    try {
                        var regData = {
                            email: email,
                            password: password,
                            //recaptcha: grecaptcha.getResponse(),
                            hostName: window.location.host
                        };
                        if (role == 'Student') {
                            fetch(new Request('/api/checkStudentEmailExists/' + email,
                                {
                                    method: 'GET'
                                })).then(function (response) {
                                    return response.json();
                                }).then(function (exist) {
                                    if (exist) {
                                        alert(exist.message);
                                    }
                                    else {
                                        fetch(new Request('/api/registerStudent',
                                            {
                                                method: 'PUT',
                                                headers: {
                                                    'Content-Type': 'application/json'
                                                },
                                                body: JSON.stringify(regData)
                                            })).then(function (response) {
                                                return response.json();
                                            }).then(function (data) {
                                                if (!data.success) {
                                                    alert(data.errorMsg);
                                                }
                                                else {
                                                    alert('You have registered successfully. A link will be sent to your email for you to activate your account.');
                                                }
                                            }).catch(function (error) {
                                                console.log(error);
                                            });
                                    }
                                }).catch(function (error) {
                                    console.log(error);
                                });

                        }

                    } catch (err) {

                    }

                }
            }
        }


    </script>
</body>

</html>